<ion-content>

  <div class="top">
    <app-title-bar></app-title-bar>
  </div>

  <div class="content_div">
    
      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class="box">
          <div class="thumbnail">
            <img src="assets/icon/dp_bg.png">
          </div>
          <div class="description">
            <ion-icon name="time-outline"></ion-icon>
            <span>06, Jan 2022 , 09:10 AM </span>
            <p class="paragraph">
              A sleepover is a great treat for kids.
              Many schools use such an event as the culminating activity of the school year.
            </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">Fishing Tournament</span>
        <div class="box">
          <div class="thumbnail">
            <img src="assets/icon/dp_bg.png">
          </div>
          <div class="description">
            <ion-icon name="time-outline"></ion-icon>
            <span>12 Jan 21, 09:00 AM</span>
            <p class="paragraph">
              Silver Sands Middle School in Port Orange, Florida,
               offers many special events, 
              but one of the most unique ones is a springtime...
            </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">Rhyme Time: A Night of Poetry</span>
        <div class="box">
          <div class="thumbnail">
            <img src="assets/icon/dp_bg.png">
          </div>
          <div class="description">
            <ion-icon name="time-outline"></ion-icon>
            <span>24 Jan 21, 09:00 AM</span>
            <p class="paragraph">
              April is also National Poetry Month. Now there is a 
              great theme for a fun family night!
               Combine poetry readings by students...
            </p>
          </div>
        </div>
      </div>
     
  </div>

</ion-content>