<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Select Mode</ion-title>
    <ion-buttons slot="end" fill="clear" color="light" class="save-button">
      <ion-button >Add Mode</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Modes</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/children-playing-school-yard_1308-71147.jpg?w=1380&t=st=1706184821~exp=1706185421~hmac=3a635d0f774cdf5952b32e639cd19ac2d30e2588f1939225102c1cf4f873d58f" />
        </ion-thumbnail>
        <ion-label>Mahatma Gandhi School</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/hand-drawn-background-back-school-season_23-2150581354.jpg?w=1060&t=st=1706185190~exp=1706185790~hmac=5839771a3aed7a2aaaecbdc1788f9145b5daf82cba8ce3b4717027529c43be24" />
        </ion-thumbnail>
        <ion-label>The Royal School</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://img.freepik.com/free-photo/students-knowing-right-answer_329181-14271.jpg?w=1060&t=st=1706185144~exp=1706185744~hmac=d05a49beb3090ddd093dd860f5d01214e8f42be0e54dd6c73632c9f97b4530c7" />
        </ion-thumbnail>
        <ion-label>M.K Gandhi Collage</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>