ion-content {
    --background: url('../../../assets/image/blue_bg.png') 0 0/100% 100% no-repeat;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;

        .back_div {
            font-size: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-label {
                color: #fff;
                font-size: 22px;
                padding-left: 20px;
                // padding-right: 100px;
            }

        }

    }

    .content_div{
        background: white;
        width: 100%;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;
        margin-top: 25px;
        padding-top: 30px;
        padding: 20px;
        padding-bottom: 50px;
        height:auto;
        min-height: calc(100% - 80px);

        .playnow{
            ion-button{
                --background: #4e61d1;
                width: 100%;
                // border-bottom-left-radius: 30px;
                // border-bottom-right-radius: 30px;
                // border-bottom: 50px solid #4e61d1;
            }
        }

        .downlod{
            margin-top: 20px;
            ion-button{
                --background: #4e61d1;
            }
        }

        .final{
            margin-top: 20px;
            ion-button{
                --background: #4e61d1;
            }
        }


        ion-grid{
            border:1px solid #b5b5b5;
            border-radius: 10px;
           // background-color: #4e61d1;
          // border-bottom-left-radius: rgb(210, 53, 53);
           //border-bottom-color: #4e61d1;
        //    border-bottom-left-radius: 30px;
        //    border-bottom-right-radius: 30px;
        //    border-bottom: 50px solid #4e61d1;
          }

          ion-label{
              color: #a6a6a6;
          }
          ion-note{
              color:#000000
          }
        
    }

}

