<ion-content>

  <div class="top">
    <div class="back_div">
      <ion-icon class="back_btn" name="chevron-back-outline" color="light"></ion-icon>
      <ion-label>Fees Due</ion-label>
    </div>
  </div>

  <div class="content_div">
  
  <div class="playnow">
    <ion-grid>
      <ion-item>
        <ion-label>Recipt No.</ion-label>
        <ion-note slot="end">#477357</ion-note>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>Month</ion-label>
        <ion-note slot="end">October</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Payment Date</ion-label>
        <ion-note slot="end">10 Oct 20</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Total Pending Amount</ion-label>
        <ion-note slot="end">$999</ion-note>
      </ion-item>

      <ion-button expand="full">
          PAY NOW
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button> 
          
    </ion-grid>
  </div>

  <div class="downlod">
    <ion-grid>
      <ion-item>
        <ion-label>Recipt No.</ion-label>
        <ion-note slot="end">#477357</ion-note>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>Month</ion-label>
        <ion-note slot="end">October</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Payment Date</ion-label>
        <ion-note slot="end">10 Oct 20</ion-note>
      </ion-item>
      
      <ion-item>
        <ion-label>Pay Mode</ion-label>
        <ion-note slot="end">Cash on Counter</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Total Pending Amount</ion-label>
        <ion-note slot="end">$999</ion-note>
      </ion-item>

      <ion-button expand="full">
          DOWNLOAD
        <ion-icon slot="end" name="download"></ion-icon>
      </ion-button> 
          
    </ion-grid>
  </div>

  <div class="final">
    <ion-grid>
      <ion-item>
        <ion-label>Recipt No.</ion-label>
        <ion-note slot="end">#477357</ion-note>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>Month</ion-label>
        <ion-note slot="end">October</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Payment Date</ion-label>
        <ion-note slot="end">10 Oct 20</ion-note>
      </ion-item>
      
      <ion-item>
        <ion-label>Pay Mode</ion-label>
        <ion-note slot="end">Cash on Counter</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Total Pending Amount</ion-label>
        <ion-note slot="end">$999</ion-note>
      </ion-item>

      <ion-button expand="full">
          FINAL
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button> 
          
    </ion-grid>
  </div>
          
  </div>

</ion-content>