<ion-content>
  <app-title-bar></app-title-bar>
  <div class="content_div">
    <div class="downlod">
     
      <ion-grid>
        <div class="heading">
        <ion-button size="small">Mathematics</ion-button>
        </div>

        <h5>Surface Areas and Volumes</h5>
        <ion-item lines="none">
          <ion-label>Assign Date</ion-label>
          <ion-note slot="end">10 Oct 20</ion-note>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Last Submission Date</ion-label>
          <ion-note slot="end">10 Nov 20</ion-note>
        </ion-item>

        <ion-button expand="block">
          TO BE SUBMITED
        </ion-button>

      </ion-grid>

      <ion-grid>
        <div class="heading">
        <ion-button size="small">Science</ion-button>
        </div>

        <h5>Structure of Atoms</h5>
        <ion-item lines="none">
          <ion-label>Assign Date</ion-label>
          <ion-note slot="end">10 Oct 20</ion-note>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Last Submission Date</ion-label>
          <ion-note slot="end">10 Nov 20</ion-note>
        </ion-item>

        <ion-button expand="block">
          TO BE SUBMITED
        </ion-button>

      </ion-grid>

      <ion-grid>
        <div class="heading">
        <ion-button size="small">English</ion-button>
        </div>

        <h5>My Bestfriend Essay</h5>
        <ion-item lines="none">
          <ion-label>Assign Date</ion-label>
          <ion-note slot="end">10 Oct 20</ion-note>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Last Submission Date</ion-label>
          <ion-note slot="end">10 Nov 20</ion-note>
        </ion-item>

        <ion-button expand="block">
          TO BE SUBMITED
        </ion-button>

      </ion-grid>

    </div>

  </div>

</ion-content>