<ion-content>

  <div class="top">
    <div class="back_div">
      <ion-icon class="back_btn" name="chevron-back-outline" color="light"></ion-icon>
      <ion-label>Pay Online</ion-label>
    </div>
  </div>

  <div class="content_div">

    <ion-list>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Date" placeholder="14 Aug 1992">
          <ion-button fill="clear" slot="end" aria-label="Show/hide">
            <img src="../../../../assets/icon/ic_Calender.png" class="custom-icon-clean-image"/>                   
          </ion-button>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Period" placeholder="22 Aug 1992">
          <ion-button fill="clear" slot="end" aria-label="Show/hide">
            <img src="../../../../assets/icon/ic_Calender.png" class="custom-icon-clean-image"/>                   
          </ion-button>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Total Fees" placeholder="$555">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block">
      PAY NOW
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button> 

          <!-- <p>Date</p>
          <ion-item>
            <ion-label>22 Aug 1992</ion-label>
            <img src="../../../../assets/icon/ic_lock.png" class="custom-icon-clean-image"/>                   
          </ion-item>

          <p>Period</p>
          <ion-item>
            <ion-label>29 Aug 1992</ion-label>
            <img src="../../../../assets/icon/ic_lock.png" class="custom-icon-clean-image"/>                   
          </ion-item>

          <p>Total Fees</p>
          <ion-item>
            <ion-label>$999</ion-label>
          </ion-item> -->
            
  </div>

</ion-content>