<ion-content>

  <app-title-bar></app-title-bar>

  <div class="content_div">

    <ion-item> 
      <ion-select label="Select Teacher" label-placement="floating">
        <ion-select-option value="apple">Rahul</ion-select-option>
        <ion-select-option value="banana">Salman</ion-select-option>
        <ion-select-option value="orange">Rajendra</ion-select-option>
      </ion-select>
    </ion-item>

    <br>
    
    <ion-item>
    <ion-select label="Select Subject" label-placement="floating">
      <ion-select-option value="apple">Math</ion-select-option>
      <ion-select-option value="banana">English</ion-select-option>
      <ion-select-option value="orange">Science</ion-select-option>
    </ion-select>
    </ion-item>

    <br>

    <ion-item>
    <p>Title</p>
    <ion-input type="text"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <p>Doubt Description</p>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-button expand="block">SEND</ion-button>

  </div>

  

</ion-content>