<ion-content>

  <app-title-bar></app-title-bar>

  <div class="content_div">

    <!-- <div class="images">
      <div class="one-image" *ngFor="let image of images">
        <img src="assets/schoolegallery/{{image}}">
      </div>
    </div> -->

    <div class="images">
      <div class="one-image">
        <img src="assets/schoolegallery/bbb.png">
      </div>
      <div class="one-image">
        <img src="assets/schoolegallery/bbb.png">
      </div>
      <div class="one-image">
        <img src="assets/schoolegallery/bbb.png">
      </div>
      <div class="one-image">
        <img src="assets/schoolegallery/aaa.png">
      </div>
      <div class="one-image">
        <img src="assets/schoolegallery/aaa.png">
      </div>
      <div class="one-image">
        <img src="assets/schoolegallery/aaa.png">
      </div>
      <div class="one-image">
        <img src="assets/schoolegallery/bbb.png">
      </div>
    </div>
  </div>

</ion-content>