<ion-content [fullscreen]="true">
  <ion-toolbar>
    
    <ion-title>Crop Image</ion-title>
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <image-cropper
          [imageURL]="myImage"
          [maintainAspectRatio]="true"
          [aspectRatio]="cropRatio"
          [resizeToWidth]="100"
          [resizeToHeight]="100"
          [cropperMinWidth]="100"
          [cropperMinHeight]="100"
          (imageCropped)="imageCropped($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
         
      ></image-cropper>
      
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-button (click)="selectCroppedImage()" expand="block" class="preview-button">
          Select Image
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>