@import "src/theme/mixins";
ion-header {
    --background: var(--ion-color-primary);
   
    ion-toolbar{
        --border-width: 0px !important;
        ion-buttons{
            ion-icon {
                color: var(--ion-color-light);
                font-size: 25px;
            }

            ion-button{
                --padding:0px !important;
            }
        }
        

    }
}